# System / OS files
# =========================
.DS_Store



# Python
# =========================
__pycache__/
*.py[cod]
.venv/
env/
ENV/



# Environment variables
# =========================
.env



# Jupyter
# =========================
.ipynb_checkpoints/



# Exploratory / archived notebooks (not public)
# =========================
notebooks/usdc_analysis.ipynb
notebooks/usdc_eth_analysis.ipynb
notebooks/usdc_eth_180d_analysis.ipynb



# Temporary / experimental scripts
# =========================
*_fail.py

# Local data files 
data/